html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     
}
header h1{
    color:black;
    font-weight: 1000;
    
}
header{
    display: flex;
    justify-content: space-between;
    margin: 0 3rem; 
}
nav{
    width: 20rem;
    position: relative;
    top: .8rem;
    right: 3rem;
     
    }
ul{
    display:flex;
    justify-content: space-between ;
    font-weight: 600;
    font-style: italic;
}
li{
    list-style: none;
    font-size: 1.5rem;
}
.showcase-img{
    width: 100vw;
    margin: 1rem;
    align-self: center;
}
article{
    display: flex;
    justify-content: space-between;
     margin: 1.5rem;
}
.container{
    text-align: center;
    margin:2rem;
    padding: 1rem;
    font-size: 1.5rem;
}

h2{
    font-weight: 500;
}
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 4rem;
}
a{
    text-decoration: none;
    color: tomato;
    font-weight: 800 ;
}
a:hover{
    color: greenyellow;
    font-size: 1.25rem;
   
}